<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display</title>
</head>
<body>
    <form method="GET" action="http://127.0.0.1:5000/form">
        <table border="1">
            <tr>
                <td>Last name:</td>
                <td>{{ last_name }}</td>
            </tr>
            <tr>
                <td>First name:</td>
                <td>{{ first_name }}</td>
            </tr>
            <tr>
                <td>Age:</td>
                <td>{{ age }}</td>
            </tr>
        </table>
    </form>
</body>
</html>