<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GROUPS</title>
</head>
<body>
    <form method="GET" action="{{ url_for('get_group') }}">
    <table border="1">
        <tr>
            <td>id</td>
            <td>name</td>
        </tr>
        {% for group in groups %}
        <tr>
            <td>{{ group.id }}</td>
            <td>{{ group.name }}</td>
        </tr>
        {% endfor %}
    </table>
        <br>
    <a href="create_group">Create new group</a>
    </form>
</body>
</html>